amply==0.1.2
backcall==0.1.0
blinker==1.4
Brotli==1.0.9
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2

cycler==0.10.0
decorator==4.4.2
deprecation==2.1.0
Django==3.2.4
django-cors-headers==3.2.1
django-multiselectfield==0.1.12
docutils==0.16
h11==0.10.0
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
idna==2.10
intervaltree==3.0.2
ipython==7.14.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
joblib==0.14.1
kaitaistruct==0.8
ldap3==2.7
lxml==4.5.0
MarkupSafe==1.1.1

mitmproxy==5.2
networkx==2.4
numpy==1.19.0
packaging==20.3
pandas==1.2.5
parso==0.7.0
passlib==1.7.2
pexpect==4.8.0
pickleshare==0.7.5
pm4py==2.2.7.1
requests==2.24.0